* {
	font-family: "Merriweather Sans";
}
canvas {
	border: 2px solid #870B0B;
}
#canvas_container {
	height: 460px;
}
#world, #landscape, #shade {
	position: absolute;
    top: 44;
    left: 8;
}
#visual {
	position: absolute;
    top: 44;
    left: 530;
}
#info {
	
}
